#!/bin/sh

### tailscale ###

# installation check
if [ -f /opt/tailscale.state ]; then
    sed -i '/- TS_AUTHKEY=/d' /opt/tailscale/docker-compose.yml

    /bin/tailscale-backup
else
    sed -i '/- TS_AUTHKEY=/d' /opt/tailscale/docker-compose.yml

    rclone --config /opt/scaleway/rclone.conf sync -P scaleway:{{ .bucket.id }}/{{ .bucket.path }}/tailscale/state/ /opt/tailscale/state/
fi

# restart tailscale
systemctl daemon-reload
systemctl enable tailscale
systemctl restart tailscale

# finalize installation
sed -i '/- TS_AUTHKEY=/d' /opt/tailscale/docker-compose.yml
echo "installed" > /opt/tailscale.state

# cleanup old images
sleep 90
docker image prune --all --force || true
