---
network:
  version: 2
  tunnels:
    {{ .Name }}:
      mode: gre
      local: {{ .LocalIP }}
      remote: {{ .RemoteIP }}
      addresses:
        - "{{ .TunnelIP }}"
      mtu: 1472
      accept-ra: false
      ipv6-privacy: false
