#!/bin/sh

# upload data to google cloud storage
GOOGLE_APPLICATION_CREDENTIALS=/opt/google/credentials.json CLOUDSDK_CORE_PROJECT={{ .project }} gcloud storage rsync -r /opt/wireguard/etc/ gs://{{ .bucket.id }}/{{ .bucket.path }}/backup/wireguard/etc/ --delete-unmatched-destination-objects || true
GOOGLE_APPLICATION_CREDENTIALS=/opt/google/credentials.json CLOUDSDK_CORE_PROJECT={{ .project }} gcloud storage rsync -r /opt/wireguard/data/ gs://{{ .bucket.id }}/{{ .bucket.path }}/backup/wireguard/data/ --delete-unmatched-destination-objects || true
