storage "s3" {
  bucket     = "{{ .scaleway.bucket }}"
  endpoint   = "https://s3.{{ .scaleway.region }}.scw.cloud"
  region     = "{{ .scaleway.region }}"
  access_key = "{{ .scaleway.accessKey }}"
  secret_key = "{{ .scaleway.secretKey }}"
}

# storage "file" {
#   path = "/vault/config/data"
# }

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_disable = true
}

seal "gcpckms" {
  project = "{{ .gcp.Project }}"
  region = "{{ .gcp.EncryptionKey.Location }}"
  key_ring = "{{ .gcp.EncryptionKey.KeyringID }}"
  crypto_key = "{{ .gcp.EncryptionKey.CryptoKeyID }}"
}

api_addr = "http://127.0.0.1:8200"

disable_mlock = true

ui = true

log_level = "info"
