[Unit]
Description=Run Vault
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/opt/vault
ExecStartPre=/usr/bin/docker compose --file /opt/vault/docker-compose.yml --project-name vault pull
ExecStart=/usr/bin/docker compose --file /opt/vault/docker-compose.yml --project-name vault up --force-recreate
ExecStop=/usr/bin/docker compose --file /opt/vault/docker-compose.yml --project-name vault stop

[Install]
WantedBy=multi-user.target
