#!/bin/sh

### wireguard ###

# installation check
if [ -f /opt/wireguard.state ]; then
    /bin/wireguard-backup
else
    rclone --config /opt/scaleway/rclone.conf sync -P scaleway:{{ .bucket.id }}/{{ .bucket.path }}/wireguard/etc/ /opt/wireguard/etc/
    rclone --config /opt/scaleway/rclone.conf sync -P scaleway:{{ .bucket.id }}/{{ .bucket.path }}/wireguard/data/ /opt/wireguard/data/
fi

# restart wireguard
systemctl daemon-reload
systemctl enable wireguard
systemctl restart wireguard

# finalize installation
echo "installed" > /opt/wireguard.state

# cleanup old images
sleep 90
docker image prune --all --force || true
