! global configuration
frr defaults traditional
hostname {{ .hostname }}
log syslog warnings


! black holes
{{- range .bgp.publicIPv6Networks }}
ipv6 route {{ . }} Null0
{{- end }}


! prefix lists
{{- range .bgp.publicIPv6Networks }}
ipv6 prefix-list PUBLIC-IPV6 permit {{ . }}
{{- end }}


! route maps
route-map ALLOW-ALL permit 100
exit

route-map DENY-ALL deny 100
exit

route-map PUBLIC-NETWORKS permit 100
{{- if .bgp.publicIPv6Networks }}
  match ipv6 address prefix-list PUBLIC-IPV6
{{- end }}
exit


! BGP configuration
router bgp {{ .bgp.localAsn }}
  ! global configuration
  bgp router-id {{ .bgp.routerId }}
  no bgp ebgp-requires-policy
  no bgp default ipv4-unicast

  ! peer groups
  neighbor EXTERNAL-PEERS peer-group
  neighbor EXTERNAL-PEERS remote-as external
  neighbor EXTERNAL-PEERS timers 60 180
  neighbor EXTERNAL-PEERS disable-connected-check
  neighbor EXTERNAL-PEERS soft-reconfiguration inbound

  neighbor INTERNAL-PEERS peer-group
  neighbor INTERNAL-PEERS remote-as internal
  neighbor INTERNAL-PEERS timers 60 180
  neighbor INTERNAL-PEERS disable-connected-check
  neighbor INTERNAL-PEERS soft-reconfiguration inbound

  ! neighbors
{{- range .bgp.neighbors }}
{{- if .isPublic }}
  neighbor {{ .address }} peer-group EXTERNAL-PEERS
{{ else }}
  neighbor {{ .address }} peer-group EXTERNAL-PEERS
{{- end }}
  ! neighbor {{ .address }} password {{ .password }}
  neighbor {{ .address }} interface {{ .interface }}
{{- end }}

  ! IPv4 configuration
  address-family ipv4 unicast
{{- range .bgp.advertisedIPv4Networks }}
    network {{ . }}
{{- end }}

    neighbor EXTERNAL-PEERS capability extended-next-hop
    neighbor EXTERNAL-PEERS activate
    neighbor EXTERNAL-PEERS next-hop-self
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL out
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL in

    neighbor INTERNAL-PEERS capability extended-next-hop
    neighbor INTERNAL-PEERS activate
    neighbor INTERNAL-PEERS next-hop-self
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL out
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL in
  exit-address-family

 ! IPv6 configuration
  address-family ipv6 unicast
{{- range .bgp.advertisedIPv6Networks }}
    network {{ . }}
{{- end }}

    neighbor EXTERNAL-PEERS activate
    neighbor EXTERNAL-PEERS next-hop-self
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL out
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL in

    neighbor INTERNAL-PEERS activate
    neighbor INTERNAL-PEERS next-hop-self
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL out
    neighbor EXTERNAL-PEERS route-map ALLOW-ALL in
  exit-address-family
exit
