frr defaults traditional
hostname {{ hostname }}
log syslog warnings
!
route-map ALLOW-ALL permit 100
exit
!
route-map DENY-ALL deny 100
exit
!
router bgp {{ bgp.localAsn }}
 bgp router-id {{ bgp.routerId }}
 no bgp ebgp-requires-policy
 no bgp default ipv4-unicast
{%- for neighbor in bgp.neighbors %}
 neighbor {{ neighbor.address }} remote-as {{ neighbor.asn }}
 ! neighbor {{ neighbor.address }} password {{ neighbor.password }}
 neighbor {{ neighbor.address }} interface {{ neighbor.interface }}
 neighbor {{ neighbor.address }} timers 60 180
 neighbor {{ neighbor.address }} disable-connected-check
 neighbor {{ neighbor.address }} soft-reconfiguration inbound
{%- endfor %}
 !
 address-family ipv4 unicast
{%- for network in bgp.advertisedIPv4Networks %}
  network {{ network }}
{%- endfor %}
{%- for neighbor in bgp.neighbors %}
  neighbor {{ neighbor.address }} activate
  neighbor {{ neighbor.address }} next-hop-self
  neighbor {{ neighbor.address }} route-map ALLOW-ALL in
  neighbor {{ neighbor.address }} route-map ALLOW-ALL out
{%- endfor %}
 exit-address-family
 !
 address-family ipv6 unicast
{%- for network in bgp.advertisedIPv6Networks %}
  network {{ network }}
{%- endfor %}
{%- for neighbor in bgp.neighbors %}
  neighbor {{ neighbor.address }} activate
  neighbor {{ neighbor.address }} next-hop-self
  neighbor {{ neighbor.address }} route-map ALLOW-ALL in
  neighbor {{ neighbor.address }} route-map ALLOW-ALL out
{%- endfor %}
 exit-address-family
exit
!
