#!/bin/sh

# upload data to google cloud storage
GOOGLE_APPLICATION_CREDENTIALS=/opt/google/credentials.json CLOUDSDK_CORE_PROJECT={{ .project }} gcloud storage rsync -r /opt/tailscale/state/ gs://{{ .bucket.id }}/{{ .bucket.path }}/backup/tailscale/state/ --delete-unmatched-destination-objects || true
